<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Login</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /login route -->
          <form action="/login" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-dark">Login</button>
          </form>
          <br>
          <p>Don't have an account already. Register <a href="/register">here</a>.</p>
          <% if (error) { %>
            <p>
              Unable to log into account. Please try again!
              </p>
          <%}%>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Log In with Google
          </a>
        </div>
      </div>
      <br />
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/facebook" role="button">
            <i class="fab fa-facebook-f"></i>
            Log In with Facebook
          </a>
        </div>
      </div>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
